<!DOCTYPE html>
<html ng-app="app-todo">
	<head>
		<meta charset="UTF-8">
		<title>todo</title>
		<script type="text/javascript" src="../../../lib/seajs/2.2.1/sea-debug.js"></script>
		<script type="text/javascript" src="../../../config/seajs.config.js"></script>
		<script>
			seajs.use(['bootstrapcss','../js/todo.js',"jquery"],function(_,todo){
				todo.run();
			});
		</script>
	</head>
	<body>
		<publicheader></publicheader>
		<div class="col-md-8 col-md-offset-2" ng-controller="todoList">
			<div class="clearfix">
				<div class="form-group col-md-10">
   					<input type="text" class="form-control" ng-model="text" placeholder="我想..." ng-keydown="todoKeyDown($event)">
				</div>
				<div class="form-group col-md-2">
					<button type="submit" class="btn btn-primary col-md-12" ng-click="addTodo()">添加</button>
				</div>
			</div>
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#all-todo" data-toggle="tab">所有<span class="badge">{{todos.length}}</span></a></li>
				<li><a href="#delay-todo" data-toggle="tab">推迟</a></li>
			</ul>
			<div class="tab-content">
				<br/>
				<div class="tab-pane active" id="all-todo">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="todo in todos track by $index">
							<button type="button" class="close" aria-hidden="true" ng-click="removeTodo($index)">&times;</button>
							<!--<span class="badge">{{todo.createDate}}</span>-->
							{{todo.text}}
							<!--<span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>-->
						</a>
						<!--<a href="#" class="list-group-item"><span class="badge">2014-04-14</span>Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span></a>
						<a href="#" class="list-group-item">Vestibulum at eros <span class="label label-info"><span class="glyphicon glyphicon-ok"></span></span></a>-->
					</div>
				</div>
				<div class="tab-pane" id="delay-todo">
					<div class="list-group">
						<a href="#" class="list-group-item">
							<span class="badge" data-toggle="modal" data-target="#time-picker"><span class="glyphicon glyphicon-bell"></span> 2014-04-14</span>
							Morbi leo risus 
							<span class="label label-warning"><span class="glyphicon glyphicon-share-alt"></span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--时间选择modal START-->
		<div class="modal fade" id="time-picker">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">时间选择器</h4>
					</div>
					<div class="modal-body">
						<p>One fine body&hellip;</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
						<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!--时间选择modal END-->
	</body>
</html>
