.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
 
.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        margin-top: -70px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        margin-top: -70px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}

/*todo*/
.todo-enter { 
    -webkit-animation: todoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: todoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes todoenter {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
@keyframes todoenter {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
.todo-leave { 
    -webkit-animation: todoleave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: todoleave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes todoleave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        height:0px;
        padding-top:0;
        padding-bottom:0;
    }
}
@keyframes todoleave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        height:0px;
        padding-top:0;
        padding-bottom:0;
    }
}
.todo-history-enter { 
    -webkit-animation: todohistory 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: todohistory 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes todohistory {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
@keyframes todohistory {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}