.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
 
.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        margin-top: -70px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        margin-top: -70px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}