.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
 
.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        margin-top: -50px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        margin-top: -50px;
    }
    from {
        opacity: 1;
        margin-top: 0px;
    }
}
 
.animate-show { 
    -webkit-animation: show 300ms linear;
    animation: show 300ms linear;
} 
@-webkit-keyframes show {
    to {
        opacity: 1;
        height: auto;
        padding: 5px 0 0;
    }
    from {
        opacity: 0;
        height: 0px;
        padding: 0 0;
    }
}
@keyframes show {
    to {
        opacity: 1;
        height: auto;
        padding: 5px 0 0;
    }
    from {
        opacity: 0;
        height: 0px;
        padding: 0 0;
    }
}
 
.animate-hide { 
    -webkit-animation: hide 600ms linear;
    animation: hide 600ms linear;
} 
@-webkit-keyframes hide {
    to {
        opacity: 0;
        height: 0;
    }
    from {
        opacity: 1;
    }
}
@keyframes hide {
  	to {
        opacity: 0;
        height: 0;
    }
    from {
        opacity: 1;
    }
}

/*todo*/
.todo-enter { 
    -webkit-animation: todoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: todoenter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes todoenter {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
@keyframes todoenter {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
.todo-leave { 
    -webkit-animation: todoleave 600ms;
    animation: todoleave 600ms linear;
} 
@-webkit-keyframes todoleave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        height:0px;
        padding-top:0;
        padding-bottom:0;
        border:0;
    }
}
@keyframes todoleave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        height:0px;
        padding-top:0;
        padding-bottom:0;
    }
}
.todo-history-enter { 
    -webkit-animation: todohistory 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: todohistory 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes todohistory {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
@keyframes todohistory {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

.notenav-show{
	-webkit-animation: notenavshow 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: notenavshow 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
@-webkit-keyframes notenavshow {
    from {
        opacity: 0;
        left: -400px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
@keyframes notenavshow {
    from {
        opacity: 0;
        left: -400px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

.notenav-hide{
	-webkit-animation: notenavhide 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: notenavhide 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
@-webkit-keyframes notenavhide {
    from {
        opacity: 1;
        left: 0px;
    }
    to {
        opacity: 0;
        left: -400px;
    }
}
@keyframes notenavhide {
    from {
        opacity: 1;
        left: 0px;
    }
    to {
        opacity: 0;
        left: -400px;
    }
}