body{
	position:relative;
}

input.ng-invalid.ng-dirty {
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
}

input.ng-valid.ng-dirty {

}

.error{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    padding:5px;
    margin-top:5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.prompt-box{
	position: fixed;
	top:30px;
	left:0;
	right:0;
	z-index: 1050;
	width: auto;
	margin: 10px;
	text-align:center;
}

.prompt-box .alert{
	display:inline-block;
	padding:5px 20px;
}

@media screen and (min-width: 768px){
	.prompt-box {
		width: 600px;
		margin: auto;
	}
}

.navbar{
	margin-bottom:0px;
}

.nav-slide-up{
	text-align:center;
	cursor:pointer;
	margin-top:50px;
}

.nav-slide-up span{
	opacity:0.3;
}

.nav-slide-up:hover span{
	opacity:0.8;
}

.nav-slide-hide{
	margin-top:0px;
}