input.ng-invalid.ng-dirty {
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
}

input.ng-valid.ng-dirty {

}

.error{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    padding:5px;
    margin-top:5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}