/*timepicker style START*/
.aui-timepicker{
	right:0;
	left:auto;
	padding:10px 10px 2px;
	min-width:200px;
	cursor:auto;
}

span.remind-icon.active{
	color:#ed9c28;
	opacity:1;
}

.aui-tpk-label{
	width:50px;
	float:right;
}

.aui-tpk-label .label{
	display:block;
	margin-bottom:5px;
	padding:.4em .6em;
	cursor:pointer;
}

.aui-tpk-time{
	font-size:4em;
	margin-right:60px;
	padding:5px;
}

.aui-tpk-time-ipt{
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	width: 1.4em;
	text-align: center;
	padding-right:16px;
}

.aui-left-ipt{
	margin-right:-10px;
}

.aui-right-ipt{
	margin-left:-13px;
}

.aui-ipt-box{
	position:relative;
	display: inline-block;
}

.aui-ipt-box:hover .aui-up-btn,.aui-ipt-box:hover .aui-down-btn{
	display:block;
}

.aui-up-btn,.aui-down-btn{
	display:none;
	width: 16px;
	height: 50%;
	right:0;
	position: absolute;
	background: #eeeeee;
	border: 1px solid #cccccc;
	font-size: 0.2em;
	line-height:35px;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.aui-up-btn:active,.aui-down-btn:active{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.aui-up-btn{
	top:0;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.aui-down-btn{
	top:50%;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.aui-tpk-toggle{
	cursor:pointer;
	opacity:0.5;
}

.aui-tpk-toggle:hover{
	opacity:1;
}

.aui-tpk-box{
	display:none;
}

.aui-tpk-box.active{
	display:block;
}

.aui-tpk-title{
	padding:5px;
	font-size:14px;
	position:relative;
}

.aui-tpk-last,.aui-tpk-next{
	position:absolute;
	top:5px;
	opacity:0.5;
	cursor:pointer;
}

.aui-tpk-last:hover,.aui-tpk-next:hover{
	opacity:1;
}

.aui-tpk-last{
	left:0;
}

.aui-tpk-next{
	right:0;
}

.aui-tpk-head{
	border-left:1px solid #ccc;
}

.aui-tpk-head span{
	display:inline-block;
	width:14.285714285714285%;
	border-right:1px solid #ccc;
	padding:5px 0;
}

.aui-tpk-body{
	border-left:1px solid #ccc;
}

.aui-tpk-body span{
	display: block;
	float: left;
	width:14.285714285714285%;
	border-right:1px solid #ccc;
	padding:5px 0;
	height:1.7em;
}

.aui-tpk-body span.day{
	cursor:pointer;
}

.aui-tpk-body span.today{
	background:#ccc;
	color:#fff;
}

.aui-tpk-body span.active{
	background:#5bc0de;
	color:#fff;
	border-color:#5bc0de;
}
/*timepicker style END*/