/*prompt style START*/
.prompt-box{
	position: fixed;
	top:30px;
	left:0;
	right:0;
	z-index: 1050;
	width: auto;
	margin: 10px;
	text-align:center;
}

.prompt-box .alert{
	display:inline-block;
	padding:5px 20px;
}
/*prompt style END*/

/*msg style START*/
.aui-msg-box{
	position: fixed;
	top:30px;
	left:0;
	right:0;
	z-index: 1050;
	width: 500px;
	max-width:100%;
	margin: auto;
	text-align:center;
	background:#fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.aui-msg-head{
	padding: 10px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
	text-align:left;
	color:#666;
}

.aui-msg-con{
	padding:10px;
}

.aui-msg-modal{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0.7);
	z-index: 1049;
}
/*msg style END*/

/*timepicker style START*/
.aui-timepicker{
	position:absolute;
	padding:10px 10px 2px;
	width:277px;
	cursor:auto;
	text-align:center;
	top: 100%;
	left: 0;
	z-index: 1051;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	display:none;
}

.aui-tpk-label{
	width:50px;
	float:right;
}

.aui-tpk-label .label{
	display:block;
	margin-bottom:5px;
	padding:.4em .6em;
	cursor:pointer;
}

.aui-tpk-time{
	font-size:4em;
	margin-right:60px;
	padding:0 5px 5px;
}

.aui-tpk-time-ipt{
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	width: 80px;
	padding-right:16px;
	vertical-align: top;
}

.aui-left-ipt{
	margin-right:-10px;
}

.aui-right-ipt{
	margin-left:-13px;
}

.aui-ipt-box{
	position:relative;
	display: inline-block;
}

.aui-ipt-box:hover .aui-up-btn,.aui-ipt-box:hover .aui-down-btn{
	display:block;
}

.aui-up-btn,.aui-down-btn{
	display:none;
	width: 16px;
	height: 50%;
	right:0;
	position: absolute;
	background: #eeeeee;
	border: 1px solid #cccccc;
	font-size: 0.2em;
	line-height:35px;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.aui-up-btn:active,.aui-down-btn:active{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.aui-up-btn{
	top:0;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.aui-down-btn{
	top:50%;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.aui-tpk-toggle{
	cursor:pointer;
	opacity:0.5;
}

.aui-tpk-toggle:hover{
	opacity:1;
}

.aui-tpk-box{
	display:none;
}

.aui-tpk-box.active{
	display:block;
}

.aui-tpk-title{
	padding:5px;
	font-size:14px;
	position:relative;
}

.aui-tpk-last,.aui-tpk-next{
	position:absolute;
	top:5px;
	opacity:0.5;
	cursor:pointer;
}

.aui-tpk-last:hover,.aui-tpk-next:hover{
	opacity:1;
}

.aui-tpk-last{
	left:0;
}

.aui-tpk-next{
	right:0;
}

.aui-tpk-head{
	border-left:1px solid #ccc;
}

.aui-tpk-head span{
	display:inline-block;
	width:14.285714285714285%;
	border-right:1px solid #ccc;
	padding:5px 0;
}

.aui-tpk-body{
	border-left:1px solid #ccc;
}

.aui-tpk-body span{
	display: block;
	float: left;
	width:14.285714285714285%;
	border-right:1px solid #ccc;
	padding:3px 0;
	height: 2em;
}

.aui-tpk-body span.day{
	cursor:pointer;
}

.aui-tpk-body span.today{
	background:#ccc;
	color:#fff;
}

.aui-tpk-body span.active{
	background:#5bc0de;
	color:#fff;
	border-color:#5bc0de;
}
/*timepicker style END*/