html,
body,
.note,
.note>div{
	height:100%;
}

body{
	margin-top:-65px;
	padding-top:65px;
}

.note{
	margin-top:-5px;
}

.note-left{
	width:200px;
	float:left;
	background:#ccc;
}

.note-left div{
	padding:10px;
	background:#eee;
}

.note-slidebar{
	width:200px;
	float:left;
	background:#eee;
}

.note-right{
	
}

.note-node-add{
	background:#eee;
}
