html,
body,
.note,
.note>div{
	height:100%;
}

body{
	margin-top:-65px;
	padding-top:65px;
}

.note{
	margin-top:-5px;
}

.note-left{
	width:200px;
	float:left;
}

.note-left div{
	padding:10px 0;
}

.note-left input{
	width:100%;
}

.note-left a{
	padding:10px;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #ffffff;
	/* border: 1px solid #dddddd; */
}

.note-left a.active{
	background-color:#d9edf7;
	color:#31708f;
}

.note-slidebar{
	width:200px;
	float:left;
	background-color:#d9edf7;
}

.note-slidebar li{
	padding:10px;
	display:block;
}

.note-slidebar ul{
	padding:0;
}

.note-slidebar li a{
	display: block;
	margin: 0 -10px;
	padding: 0 0 0 10px;
}

.note-slidebar li a.active{
	background-color: #ffffff;
	color:#31708f;
}

.note-right{
	
}

.note-node-add{
	background:#eee;
}
