@CHARSET "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* 	vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

link{
	display:none;
}

body {
	line-height: 1;
	font-family: 'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft YaHei','微软雅黑',tahoma,arial,simsun,'宋体';
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS */

/* Common CSS */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
	-webkit-border-radius: 5px;
	background-color: #ffe;
}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 0;
	width: 0;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	-webkit-border-radius: 5px;
	background-color: #aaa;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	-webkit-border-radius: 5px;
	background-color: #aaa;
}

body {
	color: #333333;
	font-size: 10px;
	background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	padding: 10px 0;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}

input,textarea,select {
	background-color: #fff;
	border: 1px solid #d4d4d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: 3px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 146px;
	height: 16px;
	line-height: 16px;
}

input[type="radio"],input[type="checkbox"] {
	width: auto;
	height: auto;
	padding: 0;
	border: 0;
	vertical-align: middle;
}

select{
	padding: 3px 3px 3px 0;
	height: 24px;
	width: 154px;
}

input:hover,select:hover,textarea:hover {
	border-color: #ffbc09;
}

input:focus,select:focus,textarea:focus {
	border-color: #fbb450;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 188, 9, 0.6);
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
	box-shadow: none;
	border-color: #d4d4d4;
}

textarea {
	height: 70px;
	overflow: auto;
	font-family: inherit;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.ht-number ,.ht-decimal,.ht-phone,.ht-identitycard{
	ime-mode: disabled;
}

input.error,textarea.error,.ui-select-button.error, .choose-box.error{
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 120, 120, 0.6);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 120, 120, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 120, 120, 0.6);
	border-color: #FF7878;
	border-color: rgba(255, 120, 120, 0.8);
}
.choose-box.error{
	border: 1px solid rgba(255, 120, 120, 0.8);
}
.choose-box.error .choose-ipt{
	border : 0 none;
	box-shadow : 0 0;
}
.error-list {
	color: red;
}

.error-list>li {
	line-height: 18px;
}

.btn {
	display: inline-block;
	padding: 1px 18px;
	margin: 0;
	font-size: 1.2em;
	font-family: inherit;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: bottom;
	cursor: pointer;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	border-radius: 2px;
	/* 	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,.btn:focus {
	color: #333333;
	text-decoration: none;
}

.btn:active,.btn.active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
	pointer-events: none;
	cursor: default;
	opacity: 0.65;
	filter: alpha(opacity =   65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active
{
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	border-color: #357ebd;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active
	{
	background-color: #428bca;
	border-color: #357ebd;
}

.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
/* 	background-color: #faa732; */
/* 	*background-color: #f89406; */
/* 	background-image: -moz-linear-gradient(top, #fbb450, #f89406); */
/* 	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406) ); */
/* 	background-image: -webkit-linear-gradient(top, #fbb450, #f89406); */
/* 	background-image: -o-linear-gradient(top, #fbb450, #f89406); */
/* 	background-image: linear-gradient(to bottom, #fbb450, #f89406); */
	background-color: #09d;
	background: -webkit-linear-gradient(center top, #09d, #09d);
	background: -moz-linear-gradient(center top, #09d, #09d);
	background: -o-linear-gradient(center top, #09d, #09d);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#09d), to(#09d));
	background: linear-gradient(center top, #09d, #09d) repeat scroll 0 0 rgba(0, 0, 0, 0);
/* 	background-repeat: repeat-x; */
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active {
	color: #ffffff;
	background-color: #e13335;
	border-color: #d58512;
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active
	{
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-grp>button {
	margin-left: 20px;
}

.btn-grp>button:first-child {
	margin: 0;
}

/* .date {
	background-image: url(./images/date.png);
	background-repeat: no-repeat;
	background-position: right center;
	ime-mode : disabled;
} */

.fm-row {
	margin-left: -20px;
	position: relative;
}

.fm-row>div {
	vertical-align: bottom;
	margin: 0 0 10px 20px;
	float: left;
	position: relative;
}

.fm-row>.fm-row {
	margin-left: 0;
}

.fm-row:before,.fm-row:after {
	content: " ";
	display: table;
}

.fm-row:after {
	clear: both;
}

.fm-col {
	position: relative;
}

.fm-col>div {
	margin-bottom: 10px;
}

.fm-col>div:before,.fm-col>div:after {
	content: " ";
	display: table;
}

.fm-col>div:after {
	clear: both;
}

.fm-text {
	font-size: 1.2em;
	height: 24px;
	line-height: 24px;
}

.fm-text,.fm-ipt,.fm-ipt-p,.fm-ipt-a,.fm-ipt-ap {
	float: left;
	min-width: 154px;
}

.fm-row-v .fm-lb, .fm-row-v .fm-text,.fm-row-v .fm-ipt,.fm-row-v .fm-ipt-p,.fm-row-v .fm-ipt-a,.fm-row-v .fm-ipt-ap {
	float: none;
	display: block;
}

.fm-row .fm-ipt input,.fm-col .fm-ipt input,.fm-row .fm-ipt select,.fm-col .fm-ipt select,.fm-row .fm-ipt textarea,.fm-col .fm-ipt textarea {
	font-size: 1.2em;
}

.ui-ht-widget select {
	font-size: 1em;
}

.fm-ipt .cb,.fm-ipt .rd {
	font-size: 1.2em;
	line-height: 24px;
}

.fm-ipt .cb>input,.fm-ipt .rd>input {
	vertical-align: middle;
	margin: 4px;
}

.fm-ipt-p .fm-icn {
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}

.fm-icn {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	margin-right: -1px;
	width: 14px;
	padding: 2px 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
}

.fm-ipt-p button,.fm-ipt-p  input,.fm-ipt-p select,.fm-ipt-p textarea,.fm-ipt-a button,.fm-ipt-a  input,.fm-ipt-a select,.fm-ipt-a textarea {
	width: 121px;
}

.fm-ipt-pa button,.fm-ipt-pa  input,.fm-ipt-pa select,.fm-ipt-pa textarea {
	width: 106px;
}

.fm-lb,.fm-lb-w {
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	float: left;
	display: inline-block;
	*display: inline;
	line-height: 24px;
	text-align: left;
	width: 120px;
}

.fm-lb-s {
	width: 65px;
}

.fm-lb-w {
	width: 120px;
}

.fm-lb em, .req-em {
	color: #FF0000;
	margin-right: 3px;
	line-height: 0;
	vertical-align: middle;
}

.fm-box{
/* 	border: 1px solid #fac6c7; */
	border: 1px solid #d0e4c2;
	position: relative;
	padding: 15px 15px 10px;
}

.fm-box>h6 {
	position: absolute;
	top: -8px;
	line-height: 1;
	left : 10px;
	background-color: #fff;
	margin: 0;
	padding: 0 10px;
/* 	color: #860; */
	color: #e4393c;
}

.fm-list-box {
	border: 1px solid #d0e4c2;
	position: relative;
}

.fm-list-box>h4 {
	line-height: 2; 
	background-color: #FFFFEE;
	left : 10px;
	margin: 0;
	padding: 0 10px;
	color: #e4393c;
	font-size: 1.4em;
	border-bottom: 1px solid #D0E4C2;
}

ul.fm-list>li {
	border-bottom: 1px dotted #eee;
	cursor: pointer;
	font-size: 1.2em;
	padding: 6px 10px;
}

ul.fm-list>li:hover{
	background-color: #fdedd2;
}

ul.fm-list>li.active{
	background-color: #6caef5;
}

.fm-list>h6 {
	position: absolute;
	top: -8px;
	line-height: 1;
	left: 10px;
	background-color: #fff;
	margin: 0;
	padding: 0 10px;
	color: #e4393c;
}

.tab, .hd{
	height: 29px;
	border-bottom: 1px solid #d0e4c2;
/* 	border-bottom: 1px solid #fac6c7; */
/* 	background-color: #feb; */
	background-color: #ffe;
}

.tab{
	border: 1px solid #e4393c;
	height: 28px;
}

.tab>li, .hd>li{
	background: #09d;
	position: relative;
	float: left;
	padding: 0 10px;
	min-width: 140px;
	height: 29px;
	line-height: 30px;
	text-align: center;
	font-size: 1.4em;
	cursor: pointer;
	border-right: 1px solid #d0e4c2;
	color: #fff;
	font-weight: bold;
	border-image: linear-gradient(#f9b54e, rgba(228, 57, 60, 0)) 1 100%;
}

.tab>li{
	font-size: 1.2em;
	height: 29px;
}

.tab>li:hover, .hd>li:hover, .hd-list>li:hover{
	color: #e4393c;
/* 	background-color: #ffffef; */
}

.tab>li.tab-active,.hd>li.hd-active,.hd-list>li.hd-active {
	background-color: #fff;
/* 	color: #eb8f00; */
/* 	border-bottom: 1px solid #e4393c; */
	color: #09d;
	cursor: default;
}

/* .tab>li.tab-active:before,.hd>li.hd-active:before { */
/* 	width: 100%; */
/* 	border-bottom: 1px solid #e4393c; */
/* } */

.hd>li.hd-active:after {
	border-color: #e4393c rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid dashed dashed;
	border-width: 5px;
	display: inline-block;
	font-size: 0;
	width: 0;
	height: 0;
	margin-left: -5px;
	overflow: hidden;
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
}

.hd>li:hover .hd-list {
	display: block;
	top:0;
}

.hd-list {
	position: absolute;
	display: none;
	min-width: 100%;
	z-index: 1000;
	background-color: #ffe;
	background-color: 1px solid rgb(208, 228, 194, 0.5);
	color: #004477;
	margin: -1px -11px 0;
	border: 1px solid #d0e4c2;
	border-bottom: 0;
}

.hd-list>li {
	cursor: pointer;
	min-width: 100%;
	border-bottom: 1px solid #d0e4c2;
	border-top: 0;
	height: 29px;
}

/*flex-box*/
.flex-box{
	display:flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
}

.flex-item{
	flex : 1;
	-webkit-flex:1;
}

.flex-table{
	flex:1;
	-webkit-flex:1;
	display : flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
}

.flex-table>div{
	flex:1;
	-webkit-flex:1;
}

.flex-right{
	align-self: flex-end;
}

/* Function CSS */
.hide {
	display: none;
}

.hide-v {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Reset jQueryUI */
.ui-dialog {
	padding: 0;
	border: 0;
	overflow: hidden;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
	font-size: 1em;
/* 	position: relative; */
}

.ui-dialog .ui-widget-content{
	background: #fff;
	padding: 10px;
	line-height: 1.6;
}

.ui-dialog .ui-dialog-content{
	padding-bottom: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	float: none;
	text-align: center;
}

.ui-dialog .btn{
	font-size: 1.2em;
} 

.ui-dialog .ui-dialog-titlebar-close {
	background: transparent;
	border: 0;
	/* opacity: .7;	 */
}

.ui-dialog .ui-dialog-titlebar-close:hover{
	opacity: 1;
}

.nf-closable .ui-dialog-titlebar-close {
	display: block;
}

.ui-dialog .ui-dialog-titlebar {
	border: 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-size: 1.2em;
	line-height: 1.2;
}

.nf-dialog {
	text-align: center;
	font-size: 1.2em;
	z-index: 10000;
}

.nf-dialog.ui-dialog .ui-dialog-title {
	width: 100%;
	margin: 0;
}

.nf-dialog.ui-dialog .ui-dialog-buttonpane {
	margin-top: 0;
	padding: 0.3em 0;
}

.nf-dialog.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.2em 0.5em;
	height: 24px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.nf-dialog .ui-button-text{
	padding: 0.2em 1em;
}

/* .nf-error .ui-widget-header{ */
/* 	color: #cd0a0a; */
/* } */

.nf-error .ui-widget-content{
	background: #fef1ec;
}

.hd-nav.ui-tabs .ui-tabs-nav{
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}

.ui-tabs .ui-tabs-panel>div {
	margin-top: 15px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
	border-radius: 0;
	background: #feb;
	font-size: 1.2em;
}
.ui-tabs .ui-tabs-nav li{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0;
	margin: 0 0 -1px 0;
	border: 0;
	border-right: 1px solid #f9b54e;
}

.ui-widget-content {
	border: none;
}

/* Reset jQueryUI */

.ui-loading:after {
	background: url("./images/loading.gif") center center no-repeat rgba(0, 0, 0, 0.25);
	content: ' ';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10000;
}

body.ui-loading:after{
	position: fixed;
}
