<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>note</title>
		<script type="text/javascript" src="../../../lib/seajs/2.2.1/sea-debug.js"></script>
		<script type="text/javascript" src="../../../config/seajs.config.js"></script>
		<script>
			seajs.use(['../js/note.js']);
		</script>
	</head>
	<body>
		<publicheader></publicheader>
		<div class="container note" ng-controller="note">
			<div class="note-nav" ng-show="status.list" ng-animate="'notenav'">
			  	<div class="note-list">
			  		<div class="note-list-head">
			  			<div ng-show="!status.addNoteBook">
							<span class="glyphicon glyphicon-plus pull-right" ng-click="status.addNoteBook=true"></span>
							笔记本
						</div>
			  			<div ng-show="status.addNoteBook"><input type="text" ng-model="noteBookName" ng-keydown="addNoteBook($event)"></div>
			  		</div>
			  		<ul>
			  			<li ng-repeat="book in noteBooks">{{book.name}}</li>
			  		</ul>
			  	</div>
			  	<ul class="note-cache">
			  		<li>
						<span class="glyphicon glyphicon-plus pull-right" ng-click="status.list=false"></span>未分类</li>
			  		<li>javascript性能分析</li>
			  	</ul>
			  	<div class="note-slidebar">
			  		<div class="note-slidebar-head">
						<span class="glyphicon glyphicon-plus pull-right" ng-click="status.list=false"></span>
						笔记
			  		</div>
					<ul>
						<li>
							<a class="active">node.js</a>
							<ul>
								<li><a><span class="glyphicon glyphicon-folder-open"></span>var</a></li>
								<li><a><span class="glyphicon glyphicon-file"></span></>var</a></li>
								<li><a>var</a></li>
								<li><a>var</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="note-box" ng-class="{active:status.list}">
				<div>
			    	<div class="btn-group pull-left">
						<button type="button" class="btn btn-default" ng-click="status.list=!status.list" ng-class="{active:status.list}"><span class="glyphicon glyphicon-list"></span></button>
						<button type="button" class="btn btn-default" ng-click="status.edit=!status.edit;status.edit || changeToView()" ng-class={'active':!status.edit}><span class="glyphicon glyphicon-eye-open"></span></button>
					</div>
				    <div class="input-group note-input-group">
					    <input type="text" class="form-control" ng-model="note.title" placeholder="输入文件名">
						<div class="input-group-btn">
							<select class="mode-select form-control" ng-model="note.type"></select>
						</div>
				  	</div>
			  	</div>
		  		<div id="editor" class="note-content" ng-show="status.edit"></div>
		  		<div class="note-view" ng-show="!status.edit"></div>
		  	</div>
		  	
			<div class="note-set">
			
			</div>
		</div>
	</body>
</html>
