<div class="aui-timepicker">
	<div class="aui-tpk-label">
		<span class="label label-default" ng-repeat="quckDate in quck" ng-click="quckSelectDate(quckDate.span)">{{quckDate.text}}</span>
	</div>
	<div class="aui-tpk-time">
		<span class="aui-ipt-box aui-left-ipt">
			<input type="text" class="aui-tpk-time-ipt" maxlength=2 ng-keydown="updateTime($event,23)" ng-model="date.hour">
			<span class="aui-up-btn" ng-mousedown="updateTime('up',23,'h')"><span class="glyphicon glyphicon-chevron-up"></span></span>
			<span class="aui-down-btn" ng-mousedown="updateTime('down',23,'h')"><span class="glyphicon glyphicon-chevron-down"></span></span>
		</span>
		:
		<span class="aui-ipt-box aui-right-ipt">
			<input type="text" class="aui-tpk-time-ipt" maxlength=2 ng-keydown="updateTime($event,59)" ng-model="date.minute">
			<span class="aui-up-btn" ng-mousedown="updateTime('up',59,'m')"><span class="glyphicon glyphicon-chevron-up"></span></span>
			<span class="aui-down-btn" ng-mousedown="updateTime('down',59,'m')"><span class="glyphicon glyphicon-chevron-down"></span></span>
		</span>
	</div>
	<div class="aui-tpk-box" ng-class="{'active':boxShow}">
		<div class="aui-tpk-title">
			<span class="aui-tpk-last glyphicon glyphicon-chevron-left" ng-click="lastMonth()"></span>
			<span class="aui-tpk-next glyphicon glyphicon-chevron-right" ng-click="nextMonth()"></span>
			{{date.month}}月{{date.year}}年
		</div>
		<div class="aui-tpk-head">
			<span ng-repeat="week in weeks">{{week}}</span>
		</div>
		<div class="aui-tpk-body clearfix" ng-click="selectDate($event)">
			<span ng-repeat="day in days track by $index" ng-class="{today:day==date.today,day:day !== 0}">{{day !== 0 ? day:''}}</span>
		</div>
	</div>
	<div class="aui-tpk-toggle" ng-click="boxShow = !boxShow">
		<span class="glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-down':!boxShow}"></span>
	</div>
</div>
